@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
.txt_color02{
    color: #00f;
    font-size: 26px;
    text-decoration: underline;
}
.txt_font{
    font-family: 'Silkscreen';
}